<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
 <h1><a  ><span class="logo_colour" (click)="onLogin()">monu_techguru</span></a></h1>
          
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
           <li><a  (click)="onChange()">Save</a></li>
          <li ><a  (click)="viewProfile()">View Profile</a></li>
          <li><a  (click)="editProfile()">Edit Profile</a></li>
          <li><a  (click)="onLogin()" style="color:red">Logout</a></li>
          
        </ul>
      </div>
    </div>
    <div id="site_content">   <!-- Start Body part -->
      

            
        <div class="container">

 <h1>change password</h1>
<div class="form-container">
       
        <div class="form-group">
            <label for="username">old password</label>
            <input type="password" class="form-control" [(ngModel)]="oldPassword" required />
        </div>
        <div class="form-group">
            <label for="password">new Password</label>
            <input type="password"  class="form-control" [(ngModel)]="newPassword" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password"  class="form-control" [(ngModel)]="confirmPassword" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="onChange()">save</button>
            
        </div>
</div>

</div>








    </div>      <!-- End Body part -->
    <div id="footer">
      <p><a (click)="onChange()">Save</a> | <a (click)="viewProfile()">View Profile</a> | <a (click)="editProfile()">Edit Profile</a> | <a (click)="onLogin()" style="color:red">Logout</a> </p>
    </div>
  </div>