<div id="main">
  <div id="header">
    <div id="logo">
      <div id="logo_text">
        <!-- class="logo_colour", allows you to change the colour of the text -->
        <h1><a  ><span class="logo_colour" (click)="onmonutechguru()">monu_techguru</span></a></h1>

      </div>
    </div>
    <div id="menubar">
      <ul id="menu">
        <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li ><a  (click)="viewProfile()">View Profile</a></li>
        <li class="selected"><a  (click)="editProfile()">Edit Profile</a></li>
        <li><a  (click)="onLogout()" style="color:red">Logout</a></li>

      </ul>
    </div>
  </div>
  <div id="site_content">   <!-- Start Body part -->
    <div class="row">       <!-- div class row start -->
      <div class="col-md-2" >

        <ul class="list-group" *ngFor="let item of garr,let i=index">
          <li class="list-group-item" (click)="Category(item.Fk_Cat_Id)">{{item.Cat_Name}}</li>

        </ul>



      </div>    <!-- div class column end -->

      <div class="col-md-10" >   <!-- div class row start -->




          <div class="row" >
            <div class="col-sm-6 col-md-5" *ngFor="let item of carr,let i=index">
              <div class="thumbnail">
                <td><img src="{{'http://localhost:3000/images/'+item.Img}}" alt="image" height="300px" width="200px"></td>
                <div class="caption">
                    <td><h1>{{item.Name}}</h1></td><br>
                  <td><h1>{{item.Price}}</h1></td>
                  <p><a href="#" class="btn btn-primary" role="button"  (click)="viewDetails(Id)">View Details</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-default" role="button" (click)="viewDetails(Id)">Buy Now</a></p>
                </div>
              </div>
            </div>
          </div>




        </div>    <!-- div class column end -->
  </div>      <!-- div class row end -->
  </div>      <!-- End Body part -->

  <div id="footer">
    <p><a  (click)="viewProfile()">View Profile</a> | <a (click)="editProfile()">Edit Profile</a> | <a (click)="onLogout()">Logout</a> </p>
  </div>
</div>
