<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a  ><span class="logo_colour" (click)="onLogin()">monu_techguru</span></a></h1>
          
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a  (click)="onSignup()">Signup</a></li>
          <li><a  (click)="onLogin()">Login</a></li>
          <li><a  (click)="onForget()">Forgot Password?</a></li>
          
        </ul>
      </div>
    </div>
    <div id="site_content">       <!-- start Body part -->
      

            
<div class="container">

<div class="container">

 <h1>change password</h1>
<div class="form-container">
       
        <div  class="form-group">
            <label for="username">email id</label>
            <input type="text" (keyup.enter)="oncheck()" class="form-control" [(ngModel)]="emailId" required />
        </div>
        <div *ngIf="flag" class="form-group">
            <label for="password">new Password</label>
            <input type="password"  class="form-control" [(ngModel)]="newPassword" />
            <label for="password">Confirm Password</label>
            <input type="password"  class="form-control" [(ngModel)]="confirmPassword" />
        <br><div class="form-group">
            <button class="btn btn-primary" (click)="onChange()">save</button>
            
        </div>
        </div>
        
</div>

</div>


    </div>      <!-- End Body part -->
    <div id="footer">
      <p><a (click)="onLogin()">Login</a> | <a (click)="onSignup()">Signup</a> | <a (click)="onForget()">Forgot Password?</a> </p>
    </div>
  </div>

<div id="footer">
      <p><a (click)="onLogin()">Login</a> | <a (click)="onSignup()">Signup</a> | <a (click)="onForget()">Forgot Password?</a> </p>
    </div>
  </div>