<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a  ><span class="logo_colour" (click)="onmonutechguru()">monu_techguru</span></a></h1>

        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li ><a  (click)="viewProduct()">Home</a></li>
          <li ><a  (click)="viewProfile()">View Profile</a></li>
          <li class="selected"><a  (click)="editProfile()">Edit Profile</a></li>
          <li><a  (click)="onLogout()" style="color:red">Logout</a></li>

        </ul>
      </div>
    </div>
    <div id="site_content">   <!-- Start Body part -->



      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <div class="row" id="gradient">
                      <div class="col-md-4" >
                          <img src="{{'http://localhost:3000/images/'+Img}}" class="img-responsive">
                      </div>

                  </div>
                  <div class="row" >
                      <div class="tabs_div">

                          <div>
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td class="success">Product Name: </td>
                                          <td>{{Name}}</td>
                                      </tr>
                                      <tr>
                                          <td class="success">Price: </td>
                                          <td>{{Price}}</td>
                                      </tr>
                                      <tr>
                                          <td class="success">Product Quantity: </td>
                                          <td>{{Qty}}</td>
                                      </tr>
                                      <tr>
                                          <td class="success">Product Mfg: </td>
                                          <td>{{Mfg}}</td>
                                      </tr>
                                      <tr>
                                          <td class="success">Product Available: </td>
                                          <td>{{Soh}}</td>
                                      </tr>
                                      <tr>
                                          <td class="success">Product Color: </td>
                                          <td>{{Color}}</td>
                                      </tr>
                                      <tr>
                                        <td class="success">Category Id: </td>
                                        <td>{{Fk_Cat_Id}}</td>
                                    </tr>
                                      <tr>
                                        <td class="success">Description: </td>
                                        <td>{{Descr}}</td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>

      <style>
          .pb-product-details-ul {
              list-style-type: none;
              padding-left: 0;
              color: black;
          }

              .pb-product-details-ul > li {
                  padding-bottom: 5px;
                  font-size: 15px;
              }

          #gradient {
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+31,a0d8ef+62 */
              background: #feffff; /* Old browsers */
              background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%); /* FF3.6-15 */
              background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to right, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */
              border: 1px solid #f2f2f2;
              padding: 20px;
          }

          #hits {
              border-right: 1px solid white;
              border-left: 1px solid white;
              vertical-align: middle;
              padding-top: 15px;
              font-size: 17px;
              color: white;
          }

          #fan {
              vertical-align: middle;
              padding-top: 15px;
              font-size: 17px;
              color: white;
          }

          .pb-product-details-fa > span {
              padding-top: 20px;
          }
      </style>





      <div class="container">
        <h1>Similar Products</h1>

        <div class="row" >
          <div class="col-sm-6 col-md-5" *ngFor="let item of similar,let i=index">
            <div class="thumbnail" >
              <td><img src="{{'http://localhost:3000/images/'+item.Img}}" alt="image" height="300px" width="200px"></td>
              <div class="caption">
                  <td><h1>{{item.Name}}</h1></td><br>
                <td><h1>{{item.Price}}</h1></td>
                <p><a  class="btn btn-primary" role="button"  (click)="viewDetails(item.Id)">View Details</a> &nbsp;&nbsp;&nbsp; <a href="#" class="btn btn-default" role="button" (click)="viewDetails(Id)">Buy Now</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>      <!-- End Body part -->

    <div id="footer">
      <p><a  (click)="viewProfile()">View Profile</a> | <a (click)="editProfile()">Edit Profile</a> | <a (click)="onLogout()">Logout</a> </p>
    </div>
  </div>
